               body
                {
            font-family:'Comic Sans MS';
            font-size:17px;
            font-weight:400;
            background-image: url(images/boston-celtics-wallpaper-hd-2014.jpg);
            background-repeat: no-repeat;
            background-position: 0px 50px, center;
            background-attachment: fixed;
            -o-background-size: 100% 100%, auto;
            -moz-background-size: 100% 100%, auto;
            -webkit-background-size: 100% 100%, auto;
            background-size: 100% 100%, auto;
        }
        .navbar-inverse {
            background-color: #000000;
        }

            .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
                background-color: #305454;
            }

            .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
                background-color: #305454;
            }

        .dropdown-menu {
            background-color: #FFFFFF;
        }

            .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
                background-color: #428BCA;
            }

        .navbar-inverse {
            background-image: none;
        }

        .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
            background-image: none;
        }

        .navbar-inverse {
            border-color: #305454;
        }

            .navbar-inverse .navbar-brand {
                color: #999999;
            }

                .navbar-inverse .navbar-brand:hover {
                    color: #FFFFFF;
                }

            .navbar-inverse .navbar-nav > li > a {
                color: #999999;
            }

                .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
                    color: #FFFFFF;
                }

            .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
                color: #FFFFFF;
            }

                .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
                    color: #FFFFFF;
                }

        .dropdown-menu > li > a {
            color: #333333;
        }

            .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
                color: #FFFFFF;
            }

        .navbar-inverse .navbar-nav > .dropdown > a .caret {
            border-top-color: #999999;
        }

        .navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
            border-top-color: #FFFFFF;
        }

        .navbar-inverse .navbar-nav > .dropdown > a .caret {
            border-bottom-color: #999999;
        }

        .navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
            border-bottom-color: #FFFFFF;
        }


        .last {
            position: fixed;
<<<<<<< HEAD
            bottom: 20%;
=======
            bottom: 30%;
>>>>>>> 6c0ff7d1a8364fd4eb44a7dc7d3a5b4ffb5498ae
            right: 10%; /* Positions 50% from right (right edge will be at center) */
            width: 200px;

        }
        .first {
                        
            position: fixed;
<<<<<<< HEAD
            bottom: 40%;
=======
            bottom: 50%;
>>>>>>> 6c0ff7d1a8364fd4eb44a7dc7d3a5b4ffb5498ae
            right: 10%; /* Positions 50% from right (right edge will be at center) */
            width: 200px;
        }
        .second {
            position: fixed;
<<<<<<< HEAD
            bottom: 60%;
=======
            bottom: 70%;
>>>>>>> 6c0ff7d1a8364fd4eb44a7dc7d3a5b4ffb5498ae
            right: 10%; /* Positions 50% from right (right edge will be at center) */
            width: 200px;
        }
   
<<<<<<< HEAD
           .github {
            position: fixed;
            bottom: 60%;
            left: 10%; /* Positions 50% from right (right edge will be at center) */
            width: 200px;
        }
=======
   
>>>>>>> 6c0ff7d1a8364fd4eb44a7dc7d3a5b4ffb5498ae
